.nav-item > a{
    color: black;
}
.nav-item > a:hover {
    font-size: 1.05em;
    font-weight: bold;
    /*color: #de47d7 ;*/ /*color of light purple*/
    color: #9b47de ;     /*color of purple      */
}

img {
    width: 500px;
    height: 400px;
    border-radius: 20px;
    background-color: grey;
}

ul{
    font-size: 1.2em;
}