<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <link href="../static/mycss.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="../static/bootstrap_min.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
    <nav class="py-2 navbar navbar-light" style="background-color: #47de4E;">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto ">
        <li class="nav-item"><a href="/" class="nav-link px-2"aria-current="page">Home</a></li>
        
        <li class="nav-item"><a href="/game" class="nav-link  px-2">Game</a></li>
        
        <li class="nav-item"><a href="/rules" class="nav-link  px-2">Rules</a></li>

      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link  px-2">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link  px-2 ">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link  px-2 btn  btn-outline-light">Sign up</a></li>
      </ul>
    </div>
  </nav>
    </header>
    <div class="container container-fluid mt-4 border-top">
        {% block content %} {% endblock %}
    </div>


</body>
</html>