{% extends 'base.html' %}

{% block title %} Congratulation {% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <p class="text-success fs-1 fw-bold"> 
            Congratulation </p>
        <div class="row">
            <div class="col">{% include 'party.html' %}</div>
            <div class="col" style=" ;transform: scaleX(-1);">{% include 'party.html' %}</div>
        </div>
    </div>
{% endblock %}