{% extends 'base.html' %}

{% block title %} Game {% endblock %}

{% block content %}
    <h2>hello Welcome, the game begin in ... </h2>
    <!--  -->
    <div class="d-flex mb-4">
        <img class="mx-auto" src="{{img_url}}">
        <p>{{quiz_responce}}</p>
    </div>
    
    <div class="card my-auto" style="border: none;">
      <div class="container text-center">
        <form method="post">
        <div class="row" role="group" aria-label="Basic checkbox toggle button group">
          <input type="radio" name="btnresponse" value="{{responce_id}}" checked style="display: none;">
          <!-- define radio list -->
           {% for f in flower %}
            <input type="radio" class="btn-check" name="btnflower" id="btn_flower_{{f['id']}}" value="{{f['id']}}" autocomplete="off">
            <label class="btn btn-outline-success mt-2 mb-4" for="btn_flower_{{f['id']}}">{{ f['sci_name'] }}</label>
            {% endfor %}
            <!--
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
              <label class="btn btn-outline-success mt-2 mb-4" for="btnradio1">Radio 1</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-success mb-4" for="btnradio2">Radio 2</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
              <label class="btn btn-outline-success mb-4" for="btnradio3">Radio 3</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
              <label class="btn btn-outline-success mb-2" for="btnradio4">Radio 4</label>
               -->
        </div>
          <input class="btn btn-primary" type="submit" value="Envoyer le formulaire" />
        </form>

      </div>
    </div>
{% endblock %}