{% extends 'base.html' %}

{% block title %} Rules {% endblock %}

{% block content %}
    <h2>Somme rule to begin ;) </h2>

    <div>
        <ul>
            <li><h3> Rule 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla efficitur neque, sit amet pellentesque ex. Ut mattis egestas iaculis. Etiam id ultrices risus. Sed pharetra, mauris vitae vestibulum bibendum, nisi diam convallis diam, vestibulum faucibus felis elit vitae est. Fusce eu maximus ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam finibus orci non nulla iaculis sollicitudin. Proin euismod eros at eros vehicula, in ultricies ipsum sagittis. Aliquam imperdiet aliquam lorem eu volutpat. Duis varius neque non mollis porttitor. Donec hendrerit, diam vel mollis rhoncus, magna purus blandit tellus, nec facilisis lorem urna vitae turpis. Sed semper pulvinar arcu et vehicula. Nulla feugiat nisi ullamcorper mauris tristique auctor. Vivamus pretium et sem nec scelerisque. Mauris quis scelerisque urna, et pharetra metus. Maecenas vitae egestas turpis, consectetur maximus leo.</p><wbr></li>
            <li><h3> Rule 2</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim risus eget sem tristique sodales. Fusce augue ante, dignissim ac rhoncus nec, maximus id massa. Sed id ipsum vel dui sodales mattis. Aenean ultricies ac nisl in sagittis. In porttitor nisl sed pharetra sodales. Aliquam sit amet auctor nulla. In sem ante, mattis id hendrerit ac, feugiat non odio. Aliquam finibus, lectus vel auctor condimentum, justo leo porta libero, eu luctus justo neque ornare nibh. Suspendisse mollis purus vitae congue fringilla. Praesent in ipsum id elit varius ultrices rhoncus sit amet sem. Vestibulum finibus lorem sed purus fringilla, at pharetra arcu euismod. Vivamus ut dapibus justo. Duis id egestas lectus.</p><wbr></li>
            <li><h3> Rule 3</h3>
                <p> Integer ut ligula magna. Nulla quis purus libero. Nulla eleifend diam orci, sed ultrices augue commodo ut. Nullam vel ligula ut purus lacinia porttitor. Aliquam sed purus in dui gravida cursus. Etiam dignissim dui eros, sit amet laoreet neque bibendum nec. Vestibulum pulvinar turpis eget purus accumsan, vel egestas magna lacinia. Sed vel efficitur leo, sit amet accumsan erat. </p><wbr></li>
            <li><h3> Rule 4</h3>
                <p>Nulla interdum tempus fringilla. Vivamus euismod consectetur dolor, eget condimentum ipsum dictum a. Ut luctus molestie consequat. Vivamus ut erat quam. Praesent in justo vel turpis laoreet eleifend. Integer porta non urna in pretium. Suspendisse et fringilla massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; </p><wbr>
            </li>
        </ul>
    </div>
{% endblock %}