{% extends 'base.html' %}

{% block title %} try {% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <p class="text-warnig fs-1 mt-5"> Try again 😎</p>
        <div class="mt-5">
            <p class="fs-6 fw-bolder"> More info of this sepsis <a href="#">link_wiki</a> {{responce_id}} </p>
        </div>
    </div>
{% endblock %}